<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="TitanNetwork" connectionString="Server=tcp:titancodingdev.database.windows.net,1433;Data Source=titancodingdev.database.windows.net;Initial Catalog=TitanNetworkDB;Persist Security Info=False;User ID=tapkain;Password=qwertY123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChatService"/>
                <binding name="BasicHttpBinding_IUserService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WCFService/Services/ChatService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChatService" contract="ChatServiceReference.IChatService" name="BasicHttpBinding_IChatService"/>
            <endpoint address="http://localhost/WCFService/Services/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService"/>
        </client>
    </system.serviceModel>
</configuration>
